/*.background {
    background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnJicjA2bTRseXN2Yzk2Zm83NjNkcW8wbXRqbHd5ODlyMHlvcDFoMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rytLWOErAX1F6/giphy.gif');
}*/

body {
    background-color: black;
    cursor: url("IMAGES/rocket2.png"), auto;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    opacity: 100%;
    font-family: "Helvetica";
    font-style: italic;
    font-weight: bold;
    font-size: 32.5px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /*removes the underlines from the links*/
}

.navbar a:hover {
    color: white;
    filter: blur(2px);
}

.class-info {
    background-color: #000000;
    color: white;
    font-family: "Courier";
    font-size: 12px;
    padding: 14px 20px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  
.universe {
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Evenly space the elements */
    padding-left: 5%;
    padding-right: 5%;
    width: 110vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

.planets {
    height: 400px;  
    width: 400px; 
    border: solid 0px;  
    border-radius: 50%;
    text-align: center;
    background-color: #000000;
}

#planet1 {
    background-position: 0% 50%;
    background-image: linear-gradient(#FF5F6D, #FFC371, #FF5F6D);
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}


#planet2 {
    background: linear-gradient(#02AABD, #00CDAC, #02AABD);
}

#planet3 {
    background: linear-gradient(#A890FE, #EA8D8D, #A890FE);
}

#planet4 {
    background: linear-gradient(#787FF6, #7BD5F5, #787FF6);
}

.planet-text {
    line-height: 400px; /* Set line height equal to planet height for vertical centering */
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
}

a {
    color: black;
    opacity: 50%;
}

.planets:hover {
    opacity: 80%;
}

.planets:hover .planet-text a {
   color: white;
   opacity: 100%;
}